$def with (form, model, category_setting)
<h2>$category_setting['label']添加</h2>
<form action="/admin/$model/category/add" method="post">
    $for input in form.inputs:
        <div class="control-group$input_error_class(input.note)">
        <label for="$input.name" class="control-label">$input.description</label>
        $:input.render()
        $if input.note:
            <p class="help-block">$input.description$input.note</p>
        </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">添加</button>
        <button type="reset" class="btn">取消</button>
    </div>
</form>
$var title: $category_setting['label']添加
