$def with (form)
<form action="/forget-password" method="post" class="form-signin">
    <h2 class="form-signin-heading">忘记密码</h2>
    $for input in form.inputs:
        <div class="control-group$input_error_class(input.note)">
            <label for="$input.name" class="control-label">$input.description</label>
            $:input.render()
            $if input.note:
                <p class="help-block">$input.description$input.note</p>
        </div>
    <button class="btn btn-primary" type="submit">确定</button>
    <a href="/login">登陆</a>
</form>
$var title:忘记密码
